* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size-adjust: 0.5;
  /* Encode Sans, Condensed, Expanded, Semi Condensed, Semi Expanded */
}

html {
  display: grid;
  background-color: rgb(15, 27, 35);
  width: 100vw;
  height: 100vh;
  justify-items: center;
  padding: 0 2%;
}

body {
  display: block;
  width: 100%;
  /* height: 95%; */
  justify-self: center;
  justify-items: center;
  padding: 10px; 
  background-color: grey; 
}

header {
  display: grid;
  grid-area: header;
  width: 100%;
  padding: 0;
  background-color: #2196F3; 
  text-align: center;
  align-content: center;
  justify-content: center;
}
 /* FitLit GRID SETUP: grid template areas */

#dashboard {
  display: grid;
  width: 100%;  
  /* padding: 10px;         */
  background-color: grey; 
  justify-self: center;
  align-self: center;
  grid-template-rows: repeat(12, auto);
  grid-template-columns: repeat(9, auto);
  gap: 10px;
  grid-template-areas:
 /* "usrName  usrName  address  address   address  address  usrEmail usrEmail usrEmail"
    "stepSec  stepSec  myGoal   myGoal    hydraSec hydraSec hydraSec friends  friends"    
    "stepSec  stepSec  stepMin  stepMin   hydraSec hydraSec hydraSec friends  friends"
    "stepSec  stepSec  actStair actStair  hydraSec hydraSec hydraSec friends  friends"
    "myStride myStride actStair actStair  hydraSec hydraSec hydraSec friends  friends"
    "actvSec  actvSec  actvSec  actvSec   actvSec  actvSec  actvSec  friends  friends"
    "actvSec  actvSec  actvSec  actvSec   actvSec  actvSec  actvSec  frChalng frChalng" 
    "sleepSec sleepSec  sleepSec sleepSec sleepSec sleepHrs myChalng frChalng frChalng"
    "sleepSec sleepSec  sleepSec sleepSec sleepSec sleepQty myChalng frChalng frChalng"
    "sleepSec sleepSec  sleepSec sleepSec sleepSec slpWkAvg myChalng frChalng frChalng"
    "sleepSec sleepSec  sleepSec sleepSec sleepSec slpWkQty myChalng frChalng frChalng"
  ; 
    "header   header   header   header    header   header   header   header   header"
    "usrName  usrName  address  address   address  address  usrEmail usrEmail usrEmail"
    "stepSec  stepSec  myGoal   myGoal    hydraSec hydraSec hydraSec friends  friends"    
    "stepSec  stepSec  stepMin  stepMin   hydraSec hydraSec hydraSec friends  friends"
    "stepSec  stepSec  actStair actStair  hydraSec hydraSec hydraSec friends  friends"
    /*"myStride myStride actStair actStair  hydraSec hydraSec hydraSec friends  friends" *//*
    "actvSec  actvSec  actvSec  actvSec   actvSec  actvSec  actvSec  friends  friends"
    "actvSec  actvSec  actvSec  actvSec   actvSec  actvSec  actvSec  frChalng frChalng" 
    "sleepSec sleepSec  sleepSec sleepSec sleepSec sleepHrs myChalng frChalng frChalng"
    "sleepSec sleepSec  sleepSec sleepSec sleepSec sleepQty myChalng frChalng frChalng"
    "sleepSec sleepSec  sleepSec sleepSec sleepSec slpWkAvg myChalng frChalng frChalng"
    "sleepSec sleepSec  sleepSec sleepSec sleepSec slpWkQty myChalng frChalng frChalng"
  ;
  */
    "header   header   header   header    header   header   header   header   header"
    "usrName  usrName  address  address   address  address  usrEmail usrEmail usrEmail"
    "stepSec  stepSec  myGoal   myGoal    hydraSec hydraSec hydraSec frChalng frChalng"    
    "stepSec  stepSec  stepMin  stepMin   hydraSec hydraSec hydraSec frChalng frChalng"
    "stepSec  stepSec  actStair actStair  hydraSec hydraSec hydraSec frChalng frChalng"
    "actvSec  actvSec  actvSec  actvSec   actvSec  actvSec  actvSec  frChalng frChalng"
    "actvSec  actvSec  actvSec  actvSec   actvSec  actvSec  actvSec  friends  friends"
    "actvSec  actvSec  actvSec  actvSec   actvSec  actvSec  actvSec  friends  friends"
    "sleepSec sleepSec  sleepSec sleepSec sleepSec sleepHrs sleepHrs friends  friends"
    "sleepSec sleepSec  sleepSec sleepSec sleepSec sleepQty sleepQty friends  friends"
    "sleepSec sleepSec  sleepSec sleepSec sleepSec slpWkAvg slpWkAvg friends  friends"
    "sleepSec sleepSec  sleepSec sleepSec sleepSec slpWkQty slpWkQty friends  friends"
}

section {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 27, 35);
  padding: .5%;
  padding-top: 1%;
  font-size: .75em;
  font-weight: 800;
  margin: 0;
  color: #2196F3;
  display: grid;
  grid-template-rows: 25px auto;  
  padding: 5px;
  font-family: 'Andale Mono', sans-serif;
}

div, article {
  display: grid;
  align-items: center;
  width: 100%;
}

.main {
  padding: 1%;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: rgb(15, 27, 35);
  background-color: cyan;
  width: 100%;
  letter-spacing: .1px;
}

#frChallenge-grid {
  height: auto;
  gap: 2px;
  grid-template-rows: 25% 50% 25%;
}

#frChallenge-chart {
  height: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.main-circle-rows,
.main-circle {
  background-color: cyan;
  justify-content: center;
  /* padding-top: 10%; */
}

.circle {
  position: relative;
  text-align: center;
  border-radius: 100%;
  background-color: #ffffff;
  width: 90%;
  height: 90%;
}

#frCh-cir {
  position: relative;
  display: flex;
  width: 130px;
  height: 130px;
  padding: 0px;
  background-color: white;
  border-radius: 100%;
  justify-content: center;
}

.circle-border {
  position: relative;
  display: flex;
  text-align: center;
  border-radius: 100%;
  justify-content: center;
}

.frCh-outerCir {  
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 2px;
}

.smCir {
  border-radius: 100%;
  background-color: #ffffff;
  position: relative;
  text-align: center;
  width: 85%;
  height: 85%;
}

.frCh-innerCir {
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 9px;
}

.frCh-solidCir {
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.white {
  background-color: white;
}

.grey {
  background-color: grey;
}

.black {
  background-color: black;
}

.daily-border {
  width: 130px;
  height: 130px;
  padding: 3%;
}

.main-circle-rows {
  padding-top: 10%;
  height: 100%;
  grid-template-rows: 70px auto;
}

.wkAct-text {
  display: grid;
  height: auto;
  font-weight: 600;
  background-color: black;
  text-align: center;
  font-size: .9em;
  padding: 5px;
  margin: 0;
}

.act-c-bor {
  /* FROM .smCir-bor */
  display: flex;
  background-color: grey;
  width: 70px;
  height: 70px;
  padding: 1px;
}

h5 {
  display: grid;  
  margin: 0;
  align-items: center;
  color: black;
}

span {
  width: 100%;
  display: flex;
  margin: .5%;
  text-align: center;
  justify-content: center;
}

.wkAct-flex {
  margin: 0;
}

.actDay-txt {
  font-size: 1em;
  font-weight: 800;
}

.wkAct-txtH5 {
  font-size: .6em;
  font-weight: 600;
  margin: 0;
}

#wkAct-txtSteps,
#actDay-txtSteps {
  padding-top: 15%;
}

#wkAct-txtDist {
  padding-top: 5%;
  padding-bottom: 15px;
}

#actDay-txtDist {
  padding-top: 10%;
  padding-bottom: 15px;
}

/* #actDay-txtSteps {
  padding-top: 15%;
} */

.actDay-num, 
.wkAct-num {
  font-size: 1.5em;
  margin: .5%;
  font-weight: 700;
}

.actDay-txtSm, 
.wkAct-txtSm {
  font-size: .9em;
  font-weight: 500;
  align-items: center;
}

/* .wkAct-txtSm {
  font-size: .9em;
  font-weight: 500;
  align-items: center;
} */

#wk-act-grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, auto);
  column-gap: 5px; 
 
  /* grid-template-columns: repeat(3, auto); */
  /* grid-template-rows: auto auto; */
  /* padding-top: 5px; */
}

.line {
  padding-left: 10px;
  justify-content: left;
  font-weight: 700;
  font-size: 1.2em;
}

/*
  <div id="usr-id#" class="friend" number="${friend.id}">
        <button id="btn-userID#" class="friendBtn" name="${friend.id}-btn">
          '${friend.data[0].name}'
        </button>
  </div>
*/

.friends {
  display: grid;
  gap: 10px;
  padding: 10px;
  justify-items: center;
}

.friend {
  color: grey;
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: 'Comic Sans MS', sans-serif;
  letter-spacing: .6px;
  font-size: .9em;
  font-weight: 500; 
  justify-items: center;
  padding: 10px;
}

.friendBtn, 
.friend-name {
  width: auto;
  padding: 3%;
  justify-content: center;
  align-self: start;
  font-family: 'Comic Sans MS', sans-serif;
  letter-spacing: .8px;
  font-size: 1.0em;
  font-weight: 500;   
  color: white;
  background-color: black;
  border-color: #2196F3;
  align-content: center;
}

.friend-name {
  border: 1px solid #2196F3;
}

#user-challenge-h4 {
  margin: 0;
  margin-top: .7em;
}

#user-challenge-p {
  margin: .5em;
  margin-bottom: .1em;
}

#frCh-win-txt {
  border: 4px solid green;
  font-weight: 700;
  font-size: 1.4em;
  color: white;
}

#frCh-win-name {
  color: green;
  margin: .5em;
  font-size: 1.7em;
  font-weight: 700;
}

.num {
  font-family: 'Open Sans';
  font-size: 1.3em;
  font-weight: 700;
}

#hydra-container {
  /* background-color: cyan; */
  padding: 10px;  
  font-size: 10px;
  font-weight: 400;
}

#sleep-container {
  padding: 10px;
  align-items: normal;
}

/* GRID-areas */

#s0, .name-sec  {
  grid-area: usrName;
}

#s1 {
  grid-area: address;
}

#s2 {
  grid-area: usrEmail;
}

#s31 {
  grid-area: stepSec;
}

#s32 {
  grid-area: stepDay;
}

#s33 {
  grid-area: stepMin;
}

#s34 {
  grid-area: stepDst;
}

#s35 {
  grid-area: actStair;
}

#s41 {
  grid-area: myGoal;
}

#s42 {
  grid-area: avgGoal;  
}

#s51 {
  grid-area: myStride;
}

/* 
#s52 {
  grid-area: dayHydra;
} 
*/

#s6 {
  grid-area: hydraSec; 
}

/* 
#s62 {
  grid-area: hydraDay; 
} 
*/

#s7 {
  grid-area: actvSec;
}

#s81 {
  grid-area: sleepHrs;
}

#s82 {
  grid-area: sleepQty;
}

#s83 {
  grid-area: sleepSec;
}

#s84 {
  grid-area: slpWkAvg;
}

#s85 {
  grid-area: slpWkQty;
}

#s9 {
  grid-area: friends;
  display: grid;
  grid-template-rows: 25px auto;  
  padding: 5px;
}

#s92 {
  grid-area: frChalng;
}

#s10 {
  grid-area: myChalng;
}

.anychart-credits {
  display: none;
}

.hidden {
  display: none;
}

/* 
//// NOTES FOR CSS /////


///// % ring //////
.ring {
  background: 
    linear-gradient(270deg, black 50%, transparent 50%), 
    linear-gradient(0deg, black 75%, lightgray 25%);
} 
/////////////////////

** LINEAR GRADIENT NOTES ** : https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient()

<side-or-corner>
    The position of the gradient line's starting point. If specified, it consists of the word to and up to two keywords: one indicates the horizontal side (left or right), and the other the vertical side (top or bottom). The order of the side keywords does not matter. If unspecified, it defaults to to bottom.
    The values to top, to bottom, to left, and to right are equivalent to the angles 0deg, 180deg, 270deg, and 90deg, respectively. The other values are translated into an angle.
<angle>
    The gradient line's angle of direction. A value of 0deg is equivalent to to top; increasing values rotate clockwise from there.
<linear-color-stop>
    A color-stop's <color> value, followed by one or two optional stop positions, (each being either a <percentage> or a <length> along the gradient's axis).
<color-hint>
    The color-hint is an interpolation hint defining how the gradient progresses between adjacent color stops. The length defines at which point between two color stops the gradient color should reach the midpoint of the color transition. If omitted, the midpoint of the color transition is the midpoint between two color stops.

*/

/* 
  #hydra-container > g > g {    
    width: 100%;
    text-align: center;
  }  
*/

/* 
.info-wrapper {
  display: flex;
  width: 100%;
  padding: 10px 5px 0;
  margin: 0;
  color: grey;
  font-size: 1em;
  height: 100%;
} 
*/